@charset "utf-8";

body,html{
	height: 110%;
	/*androidキーボード対策*/
}

body{
	background-color: #eada8f;
	background-color: #ffee9c;
}


.only_ios{
	display:none;
}

.other_ios{
	display:none;
}

.only_android{
	display:none;
}

.only_pc{
	display:none;
}


#container{
	background-color: #fff2cc;
	background-image:url(charaname_bg01.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size :auto;
	max-width: 640px;
	margin: 0 auto;
	min-height: 100%;
}


#search_tit{
	width: 80%;
	padding: 20px 0 40px 0;
	max-width: 300px;
	margin: 0 auto;
}

#search_block{
	margin: 0 auto;
	width: 96%;
	position: relative;
}


@media (min-width: 480px){
	#search_block{
	width: 80%;
	}
}


#search_name{
	display: block;
	width: 100%;
	padding: 3px 62px 0 0;
	box-sizing: border-box;
}

#name_box{
	width: 100%;
	border-radius: 5px;
	border: solid 3px #000;
	box-sizing: border-box;
	min-height: 30px;
	font-size: 1.8em;
	line-height: 1.8;
}

#search_btn{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 52px;
	box-sizing: border-box;
	z-index: 20;
}

#search_btn_off{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 52px;
	box-sizing: border-box;
	z-index: 10;
}

#search_btn img{
	max-height: 52px;
}


*:focus { outline:none; }

/*
select:focus{
	border: solid 1px #9cf;
}
*/



input[type="text"],textarea {
	border: solid 1px #aaa;
}
input[type="text"]:focus,textarea:focus {
	border: solid 1px #9cf;
}


