@charset "utf-8";
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #eada8f;
    font-size: small;
    padding: 0px;
    margin: 0px;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    -webkit-text-size-adjust: none;
}

fieldset{
	border: none;
	padding: 0;
	margin: 0;
}

.bold{
	font-weight: bold;
}

.red{
	color: #ff0000;
}

.layout_b {
    background: #000;
}
img {
    vertical-align: bottom;
}
.midashi2 {
    font-size: x-large;
    font-weight: bold;
    width: 70%;
    color: #630;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.1);
}
.midashi3 {
    font-size: x-large;
    font-weight: bold;
    width: 70%;
    color: #ff0000;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.1);
}
.midashi_red {
    font-size: x-large;
    font-weight: bold;
    width: 70%;
    color: #ff0000;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.1);
}
#main_area{
	width:100%;
	margin: 0 auto;
	max-width:780px;
	min-height:100%;
	background-color:#ffee9c;
}
#main_area_bk{
	width:85%;
	margin: 0 auto;
	max-width:800px;
	min-height:100%;
	background-color:#000;
}
.ac_link_btn01 {
    list-style: none;
    padding: 0;
}
.ac_link_btn01 li {
    margin: 0 0 1em;
}
.ac_link_btn02 {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 10px 0 20px;
}
.ac_link_btn02 img {
    max-width: 100%;
}
.ac_link_btn02 li {
    max-width: 500px;
    margin: 0 auto 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ac_link_btn02 li span {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
}
.ac_link_btn02 li span img {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
.ac_link_btn02 button {
    background: none;
    border: none;
}
.ac_link_conts01 {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
    border-radius: 8px;
    margin: 10px auto;
    width: 95%;
    border: #F90 solid 3px;
    background: #FFB;
    text-align: left;
    padding: 0px 20px;
    box-sizing: border-box;
}
.ac_link_conts02 {
    border-radius: 8px;
    margin: 10px auto;
    width: 95%;
    border: #AA0000 solid 3px;
    background: #FFF;
    text-align: left;
    padding: 0px 20px;
    box-sizing: border-box;
}
.ac_link_txt01 {
    text-align: center;
    width: 96%;
    margin: 0 auto 10px;
    padding: 5px 0;
    box-sizing: border-box;
}

.ac_link_txt02 {
    text-align: left;
    width: 96%;
    margin: 0 auto 10px;
    padding: 5px 0;
    box-sizing: border-box;
}

input.ac_btn_big{
	line-height: 1.51;
}

.ac_btn_big {
	display: inline-block;
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 90%;
	max-width: 500px;
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 0px;
	border-radius: 16px;
	
    border: 2px #000 solid;
    color: #FFF;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,1);
    -webkit-box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.9);
    box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.9);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
    background: rgb(235,137,0);
    background: linear-gradient(0deg, rgba(235,137,0,1) 0%, rgba(255,209,10,1) 100%);
}


.ac_btn_glay{
	display: inline-block;
	font-size: large;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 90%;
	max-width: 500px;
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 0px;
	border-radius: 16px;
	
	border: 2px #000 solid;
	color: #FFF;
	background-color: #888;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,1);
	-webkit-box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.9);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}


.ac_btn_red {
	width: 70%;
    margin: 8px auto 0;
	text-align: center;
}
.ac_btn_red a {
    font-size: large;
	font-weight: bold;
    color: #FFF;
    display: block;
    padding: 8px;
    background: #F00;
    text-decoration: none;
    border-radius:16px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,1);
	-webkit-box-shadow:inset 0px 1px 1px 0 rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px 0 rgba(255,255,255,0.9);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
}
.ac_link_notes {
    color: red;
    width: 95%;
    margin: 0 auto;
    text-align: left;
}
.transfer_code {
    list-style: none;
    text-align: center;
    font-weight: bold;
}
.ac_link_conts01 ol {
    list-style-type: none;
    padding: 0;
}

.tyuui {
	display: inline-block;
	font-size: large;
	font-weight: bold;
	width: 70%;
	color: #ff0000;
	text-decoration: none;
	border-radius:2px;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 0px;
	text-align: center;
	border-radius:16px;
	background-color: #000000;
}


.txt_box01{
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}




